[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sokoban"]
	path = sokoban
	url = https://github.com/cran/sokoban
	shallow = true
	registered = true
